Libs/facebook/bin/
*.apk
MainSource/3min/bin/
Libs/facebook/gen/
MainSource/3min/gen/


Libs/google-play-services_lib/bin/
Libs/UrlImageViewHelper/bin/
Libs/easyFoursquare4Android/bin/
Libs/MaskLibrary/bin/
Libs/AndroidStaggeredGrid/bin/
Libs/google-play-services_lib/gen/
Libs/UrlImageViewHelper/gen/
