Libs/facebook/bin/
*.apk
MainSource/3min/bin/
Libs/facebook/gen/com/facebook/android/R.java
MainSource/3min/gen/


Libs/google-play-services_lib/bin/
Libs/UrlImageViewHelper/bin/
Libs/easyFoursquare4Android/bin/
Libs/MaskLibrary/bin/
